SECRET_KEY='django-insecure-)5b7y(*+u8^5-wssvm@mmoyo4%6!#8zu&ls04*8_if9)i%$z4u'
DEBUG=1
ALLOWED_HOSTS='127.0.0.1'
CSRF_TRUSTED_ORIGINS=''

EMAIL_HOST=''
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
EMAIL_PORT=''
EMAIL_USE_TLS=''
EMAIL_OWNER=''
